.appContainer {
  width: 100%;
  background-color: #eee;
  min-height: 100vh;
}

.pageWithTableContainer {
  width: 100%;
  padding: 36px 30px 30px 30px;
}

.pageTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
  flex-wrap:wrap;
}

.pageTitle>h1 {
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: #252733;
  padding: 0px 10px 0px 0px;
}

.projectIssuesCard {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 32px 0px 16px;
  border-radius: 8px !important;
  overflow: auto !important;
}

.cardBody {
  padding: 0px !important;
  overflow:visible !important;
}

.cardHeader {
  padding: 0px 32px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Mulish';
  font-size: 14px;
  letter-spacing: 0.2px;
}

.cardHeader>h2 {
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #252731;
  margin-bottom: 0px;
}

.non-table {
  padding: 28px 32px;
}

@media (max-width: 450px) {
  .cardBody {
    padding: 0px 20px !important;
    overflow:visible !important;
  }  
  .pageWithTableContainer {
    padding: 0px 12px 20px 12px;
  }
  .pageTitle {
    margin-bottom: 0px;
    padding-top: 10px;
  }
  .cardHeader {
    padding: 0px;
    flex-wrap: wrap;
  }
  .projectIssuesCard {
    padding: 20px 0px;
  }
  .non-table {
    padding: 20px 0px;
  }
}

@media (max-width: 768px) {  
  .pageWithTableContainer {
    padding: 0px 12px 20px 12px;
  }
}