.allProjectsContainer {
    /* display: flex; */
    width: 100%;
}

.allProjectsTitle {
  display: flex;
  justify-content: space-between;
}

.mappedProjects {
    margin-right: 100px;
}

.table {
    width: 100%;
}