.cardHeader {
  padding: 0px 32px;
  margin-bottom: 38px;
  display: flex;
  justify-content: space-between;
  font-family: 'Mulish';
  font-size: 14px;
  letter-spacing: 0.2px;
}

.cardHeader>h2 {
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #252731;
}

.mappedProjects {
  margin-right: 100px;
}
