.allProjectsContainer {
    /* display: flex; */
    width: 100%;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%)
}

.allProjectsTitle {
  display: flex;
  justify-content: space-between;
}

.mappedProjects {
    margin-right: 100px;
}

.table {
    width: 100%;
}