.authFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8em;
}

.authForm {
  width: 100%;
  padding: 0px 20px;
}

.signupBox {
  display: flex;
  align-items: center;
  height: 480px;
  width: 540px;
  justify-content: center;
  color: rgb(60, 66, 87);
  padding: 56px 48px;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(60, 66, 87, 0.08) 0px 15px 35px 0px, rgba(0, 0, 0, 0.12) 0px 5px 15px 0px;
}

.isMobile {
  padding: 32px 0px;
  width: 100%;
  height: auto;
}

.emptySpace {
  padding-bottom: 10px;
}

.inputTitle {
  display: inline-block;
  padding-bottom: 30px;
  font-size: 24px;
}


.loginButtons {
  display: flex;
  flex-direction: column;
}

.loginButtons span {
  color: rgb(99, 91, 255);
  margin-top: 1em;
  font-size: 14px;
  text-align: center;
}
.loginButtons span:hover {
  color: black;
  cursor: pointer;
}

.signupPrompt {
  padding: 15px;
  font-size: 14px;
}

.signupPrompt a {
  color: rgb(99, 91, 255);
  text-decoration: none;
}
.signupPrompt a:hover {
  color: black;
}

.loginButtons button {
  background-color: rgb(99, 91, 255);
  border-color: rgb(99, 91, 255)
}