.authFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* transform: translateY(100px); */
  /* animation: upFade 1s forwards; */
  min-height: 100vh;
}

@keyframes upFade {
  to {
    transform: translateY(0px);
  }
}

.authForm {
  width: 100%;
  padding: 0px 20px;
}

.formBox {
  background-image: url('./formpic.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 80vw;
  border-radius: 12px;
}
.formBox-isMobile {
  height: 100vh;
  width: 100vw;
}

.signupBox {
  min-height: 70%;
  min-width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(60, 66, 87);
  padding: 26px 28px;
  background: rgb(255, 255, 255);
  border-radius: 0px 8px 8px 0px;
  box-shadow: rgba(60, 66, 87, 0.08) 0px 15px 35px 0px, rgba(0, 0, 0, 0.12) 0px 5px 15px 0px;
  opacity: 0.8;
  text-align: center;
}

.emptySpace {
  padding-bottom: 10px;
}

.inputTitle {
  display: inline-block;
  padding-bottom: 30px;
  font-size: 24px;
}


.loginButtons {
  display: flex;
  flex-direction: column;
}

.loginButtons span {
  color: rgb(99, 91, 255);
  margin-top: 1em;
  font-size: 14px;
  text-align: center;
}

.loginButtons span:hover {
  color: black;
  cursor: pointer;
}

.signupPrompt {
  padding: 15px;
  font-size: 14px;
}

.signupPrompt a {
  color: rgb(99, 91, 255);
  text-decoration: none;
}

.signupPrompt a:hover {
  color: black;
}

.loginButtons button {
  background-color: rgb(99, 91, 255);
  border-color: rgb(99, 91, 255)
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

@media (max-width: 768px) {
  .formBox {
    height: 100vh;
    width: 100vw;
    border-radius: 0px;
  }
  .signupBox {
    height: 100vh;
    border-radius: 0px;
    padding: 10px;
  }
}

@media (max-width: 450px) {
  .formBox {
    height: 100vh;
    width: 100vw;
    border-radius: 0px;
    background-image: none;
  }
  .signupBox {
    height: 100vh;
    width: 100vw;
    border-radius: 0px;
    padding: 10px;
  }
}