.issueButtons {
  display: flex;
  margin-top: 5px;
  overflow:auto
}

.issueButtons button {
  margin-right: 10px;
}

.title {
  font-size: 0.8em;
}

.title em{
  font-size: 0.7rem;
}

.mappedIssuesContainer {
  padding: 10px 32px;
}
.comments-divider {
  margin-bottom: 0px;
}
@media (max-width: 450px) {
  .mappedIssuesContainer {
    padding: 10px 0px;
  }
}
