.issuePageCard {
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%)
}

.issueButtons {
  display: flex;
  margin-top: 5px;
  overflow:auto
}

.issueButtons button {
  margin-right: 10px;
}

.title {
  font-size: 0.8em;
}

.title em{
  font-size: 0.7rem;
}

