.issueItemButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemButtons .bi {
  font-size: 1.25em;
  vertical-align: middle;
}

.link {
  text-decoration: none;
  color: #212529;
}

.link:hover, .link:active {
  text-decoration: underline;

}