.profilePageHeader {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.filterButtons p {
  margin-bottom: 0px;
  font-size: 0.9em;
}

.smallCards {
  display: flex;

}

@media (max-width: 767px) {
  .filterButtons {
    width: 100%;
  }
}