.navbar {
  /* width: 50vw; */
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background-color: #f6f9fc;
  background-color: white;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%);
}

.navbar a {
  color: #425466;
}
.navbar a:hover {
  background-color: rgb(130, 178, 225);
  color: #425466;
}

.navbar-mobile {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  background-color: #f6f9fc;
}

.navbarCanvas a{
  color: rgb(99, 91, 255);
  padding-left: 0px;
}
.navbarCanvas button {
  color: rgb(99, 91, 255);
  padding-left: 0px;
}

.navbarIcon {
  color: #425466;
  font-size: 28px;
  width: 40px;
}

.nav-button {
  color: #425466;
  background: none;
  border: none;
}
.nav-button:hover {
  background-color: rgb(130, 178, 225);
  color: #425466;
}

.nav-left {
  font-size: 25px;
  width: 2em;
  text-align: center;
  border-radius: 4px;
}

.nav-left:hover {
  background-color: rgb(130, 178, 225);
}