.navbar {
  display: flex;
  justify-content: space-around;
  background-color: black;
}

.navbar a {
  color: white;
}

.navbar-mobile {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  background-color: black;
}

.navbarIcon {
  color: white;
  font-size: 28px;
  width: 40px;
}

.nav-button {
  color: white;
  background: none;
  border: none;
}