.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #1B1B20;
  color: white;
  padding:8px 10px;
  position: sticky;
  top: 0px;
  z-index: 1001;
}

.navbar-heading {
  margin: 0px;
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 0.3px;
}

.navbar a {
  color: #425466;
}
.navbar a:hover {
  background-color: rgb(130, 178, 225);
  color: #425466;
}

.navbarCanvas a{
  color: rgb(99, 91, 255);
  padding-left: 0px;
}
.navbarCanvas button {
  color: rgb(99, 91, 255);
  padding-left: 0px;
}

.navbarIcon {
  color: #425466;
  font-size: 28px;
}

.nav-button {
  color: #425466;
  background: none;
  border: none;
}
.nav-button:hover {
  background-color: rgb(130, 178, 225);
  color: #425466;
}