.projectPageCard {
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%)
}

.projectPageHeader {
  display: flex;
  align-items: center;
}

.subtitle p {
  margin-bottom: 0px;
}

.pageButtons {
  margin-top: 5px;
  display: flex;
}

.pageButtons button {
  margin-right: 10px;
}

.card {
  margin-top: 1em;
}

.issuesTable {
  width: 100%;
}

.assignedDeveloperTable {
  margin-top: 1em;
}

.btn:focus {
  box-shadow: none !important;
}

.h4 {
  display: inline-block;
}

table {
  text-align: center;
}

.page-btn:hover {
  text-decoration: underline;
}

.issuesTitle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tableHeaders {
  margin-bottom: 0px;
}
.filterButtons p {
  margin-bottom: 0px;
  font-size:0.9em;
}

@media (max-width: 450px) {
  .filterButtons {
    order: 3;
    width: 100%;
    margin-right: 0px;
  }
}
@media (max-width: 767px) {
  .filterButtons {
    order: 3;
    width: 100%;
    margin-right: 0px;
  }
}

