.projectPageHeader {
  display: flex;
  align-items: center;
}

.projectPageHeader * {
  margin-right: 20px;
}

.subtitle p {
  margin-bottom: 0px;
}

.pageButtons {
  margin-top: 5px;
  display: flex;
}

.pageButtons button {
  margin-right: 10px;
}

.card {
  margin-top: 1em;
}

.issuesTable {
  width: 100%;
}

.assignedDeveloperTable {
  margin-top: 1em;
}

.btn:focus {
  box-shadow: none !important;
}

.h4 {
  display: inline-block;
}

table {
  text-align: center;
}

.page-btn:hover {
  text-decoration: underline;
}

.issuesTitle {
  display: flex;
  justify-content: space-between;
}

.tableHeaders {
  margin-bottom: 0px;
}