.sidebar {
  z-index: 100;
  box-shadow: 2px 2px 1px -1px rgb(0 0 0 / 20%);
  background-color: #1868D9;
  color: white;
  /* position: sticky; */
}

.items {
  width: 1.2em;
  font-size: 35px;
  text-align: center;
  height: 100px;
  list-style: none;
  padding-inline-start: 0px;
}

.items>* {
  color: white;
}
.items>*:hover {
  color: #ce7882;
}

.sidebar-button {
  background: none;
  border: none;
  padding: 0px;
}

.sidebar-button:hover {
  color: #ce7882;
}

.list-item {
  display: flex;
  align-items: center;
}

.list-item>* {
  padding: 0px 10px;
  color: white;
}

.list-item *:not(i, div) {
  font-size: 20px;
  white-space: nowrap;
  cursor: pointer;
  margin: 0px;
}

.list-item *:not(i, div):hover {
  color: #ce7882;
}

.collapsed {
  /* height: 100%; */
  z-index: 100;
}

.open {
  width: 250px;
  /* margin-right: 250px; */
}

.icon {
  font-size: 35px;
  text-align: end;
  margin-right: 10px;
  border-radius: 4px;
}

.icon:hover, .icon-collapsed:hover {
  color: #ce7882;
}

.icon-collapsed {
  font-size: 35px;
  width: 1.2em;
  text-align: center;
  border-radius: 4px;
}